<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="AAAGV600" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="AGV02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="AGV03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
        <Vehicle id="AGV04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx04"/>
        <Vehicle id="AGV05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx05"/>
        <Vehicle id="AGV06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx06"/>
        <Vehicle id="AGV07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx07"/>
        <Vehicle id="AGV08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx08"/>
        <Vehicle id="AGV09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx09"/>
      </Node>
      <Node id="CHARGE_NODE" node_num="2" >
        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger3" unit_num="3" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger4" unit_num="4" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger5" unit_num="5" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger6" unit_num="6" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger7" unit_num="7" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger8" unit_num="8" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger9" unit_num="9" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger10" unit_num="10" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger11" unit_num="11" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE1">
      <Node id="ZONE1_ST02" node_num="11" >
        <EQPT id="B7_OHBLINE1_ST02" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line1.asek21.mirle.com.tw:3280" process_data_format="" recipe_parameter_format="1">
          <PortStation id="B7_OHBLINE1_ST02" unit_num="1" adr_id ="10018"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE1_A01" unit_num="1" adr_id ="10019"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE1_A02" unit_num="1" adr_id ="10018"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE1_A03" unit_num="1" adr_id ="10018"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE1_ST01" node_num="12" >
        <EQPT id="B7_OHBLINE1_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line1.asek21.mirle.com.tw:3280" process_data_format="" recipe_parameter_format="1">
          <PortStation id="B7_OHBLINE1_ST01" unit_num="1" adr_id ="10007"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE1_A04" unit_num="1" adr_id ="10007"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE1_A05" unit_num="1" adr_id ="10007"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE1_EQ1" node_num="13" >
        <EQPT id="LINE1_B5A-6850-02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6850_02_P01" unit_num="1" adr_id ="10004"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6850_02_P02" unit_num="1" adr_id ="10003"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A-6850-01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6850_01_P01" unit_num="1" adr_id ="10006"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6850_01_P02" unit_num="1" adr_id ="10005"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6869_02" eqptType="3" communicationType="1" >
          <PortStation id="B5_6869_02_P01" unit_num="1" adr_id ="10051"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5_6869_02_P02" unit_num="1" adr_id ="10050"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5_6869_02_P03" unit_num="1" adr_id ="10049"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5_6869_02_P04" unit_num="1" adr_id ="10048"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6930_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6930_01_P01" unit_num="1" adr_id ="10045"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6930_01_P02" unit_num="1" adr_id ="10044"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6910_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6910_01_P01" unit_num="1" adr_id ="10037"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6910_01_P02" unit_num="1" adr_id ="10036"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6910_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6910_02_P01" unit_num="1" adr_id ="10040"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6910_02_P02" unit_num="1" adr_id ="10039"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6910_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6910_03_P01" unit_num="1" adr_id ="10043"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6910_03_P02" unit_num="1" adr_id ="10042"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6905_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6905_01_P01" unit_num="1" adr_id ="10028"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6905_01_P02" unit_num="1" adr_id ="10027"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6905_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6905_02_P01" unit_num="1" adr_id ="10031"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6905_02_P02" unit_num="1" adr_id ="10030"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6905_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6905_03_P01" unit_num="1" adr_id ="10034"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6905_03_P02" unit_num="1" adr_id ="10033"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6920_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6920_01_P01" unit_num="1" adr_id ="10026"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6920_01_P02" unit_num="1" adr_id ="10025"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6920_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6920_02_P01" unit_num="1" adr_id ="90022"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6920_02_P02" unit_num="1" adr_id ="90021"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6920_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6920_03_P01" unit_num="1" adr_id ="10017"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6920_03_P02" unit_num="1" adr_id ="10016"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6920_04" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6920_04_P01" unit_num="1" adr_id ="10015"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6920_04_P02" unit_num="1" adr_id ="10014"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6950_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6950_01_P01" unit_num="1" adr_id ="10012"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6950_01_P02" unit_num="1" adr_id ="10011"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6500_91_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6500_91_01_P01" unit_num="1" adr_id ="10010"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE1_B5A_6365_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6365_01_P01" unit_num="1" adr_id ="10009"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6365_01_P02" unit_num="1" adr_id ="10008"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE2">
      <Node id="ZONE2_STK2_ST01" node_num="21" >
        <EQPT id="B7_STK02_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://stk02.asek21.mirle.com.tw:9000" process_data_format="">
          <PortStation id="B7_STK02_ST01" unit_num="1" adr_id ="10096"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_STK02_A01" unit_num="1" adr_id ="10096"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_STK02_A02" unit_num="1" adr_id ="10096"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE2_LINE_ST01" node_num="23" >
        <EQPT id="B7_OHBLINE2_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line2.asek21.mirle.com.tw:3280" process_data_format="AGV03">
          <PortStation id="B7_OHBLINE2_ST01" unit_num="1" adr_id ="10066"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE2_A03" unit_num="1" adr_id ="10067"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE2_A04" unit_num="1" adr_id ="10066"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE2_A05" unit_num="1" adr_id ="10066"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE2_LINE_ST02" node_num="22" >
        <EQPT id="B7_OHBLINE2_ST02" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line2.asek21.mirle.com.tw:3280" process_data_format="AGV08">
          <PortStation id="B7_OHBLINE2_ST02" unit_num="1" adr_id ="10079"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE2_A01" unit_num="1" adr_id ="10079"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE2_A02" unit_num="1" adr_id ="10079"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE2_LOOP_ST01" node_num="24" >
        <EQPT id="B7_OHBLOOP_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.loop.asek21.mirle.com.tw:3280" process_data_format="">
          <PortStation id="B7_OHBLOOP_ST01" unit_num="1" adr_id ="10128"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLOOP_A01" unit_num="1" adr_id ="10129"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLOOP_A02" unit_num="1" adr_id ="10129"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLOOP_A03" unit_num="1" adr_id ="10128"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLOOP_A04" unit_num="1" adr_id ="10128"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE2_EQ1" node_num="25" >
        <EQPT id="B5A_6790_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6790_01_P04" unit_num="1" adr_id ="10062"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6790_01_P03" unit_num="1" adr_id ="10063"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6790_01_P02" unit_num="1" adr_id ="10064"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6790_01_P01" unit_num="1" adr_id ="10065"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6790_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6790_02_P01" unit_num="1" adr_id ="10071"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6790_02_P02" unit_num="1" adr_id ="10070"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6790_02_P03" unit_num="1" adr_id ="10069"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6790_02_P04" unit_num="1" adr_id ="10068"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6530_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6530_03_P02" unit_num="1" adr_id ="90072"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6530_03_P01" unit_num="1" adr_id ="90073"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6530_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6530_02_P01" unit_num="1" adr_id ="90075"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6530_02_P02" unit_num="1" adr_id ="90074"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6530_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6530_01_P01" unit_num="1" adr_id ="90077"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6530_01_P02" unit_num="1" adr_id ="90076"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6411_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6411_01_P01" unit_num="1" adr_id ="90082"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6411_01_P02" unit_num="1" adr_id ="10081"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6500_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6500_03_P01" unit_num="1" adr_id ="90084"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6500_03_P02" unit_num="1" adr_id ="90083"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6500_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6500_02_P01" unit_num="1" adr_id ="90086"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6500_02_P02" unit_num="1" adr_id ="90085"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6500_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6500_01_P01" unit_num="1" adr_id ="90088"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6500_01_P02" unit_num="1" adr_id ="90087"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6401_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6401_01_P01" unit_num="1" adr_id ="90090"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6401_01_P02" unit_num="1" adr_id ="90089"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6525_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6525_01_P01" unit_num="1" adr_id ="10106"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6525_01_P02" unit_num="1" adr_id ="10107"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6525_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6525_02_P01" unit_num="1" adr_id ="10108"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6525_02_P02" unit_num="1" adr_id ="10109"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6540_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6540_01_P01" unit_num="1" adr_id ="10112"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6540_01_P02" unit_num="1" adr_id ="10113"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6412_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6412_01_P01" unit_num="1" adr_id ="10114"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6412_01_P02" unit_num="1" adr_id ="10115"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6520_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6520_03_P01" unit_num="1" adr_id ="10119"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6520_03_P02" unit_num="1" adr_id ="10120"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6520_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6520_02_P01" unit_num="1" adr_id ="10121"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6520_02_P02" unit_num="1" adr_id ="10122"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B5A_6520_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6520_01_P01" unit_num="1" adr_id ="10123"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6520_01_P02" unit_num="1" adr_id ="10124"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE3">
      <Node id="ZONE3_STK1_ST01" node_num="31" >
        <EQPT id="B7_STK01_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://stk01.asek21.mirle.com.tw:9000" process_data_format="" recipe_parameter_format="1">
          <PortStation id="B7_STK01_ST01" unit_num="1" adr_id ="10159"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_STK01_A01" unit_num="1" adr_id ="10159"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_STK01_A02" unit_num="1" adr_id ="10159"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE3_LINE_ST01" node_num="32" >
        <EQPT id="B7_OHBLINE3_ST01" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line3.asek21.mirle.com.tw:3280" process_data_format="" >
          <PortStation id="B7_OHBLINE3_ST01" unit_num="1" adr_id ="90191"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A01" unit_num="1" adr_id ="90190"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A02" unit_num="1" adr_id ="90191"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A03" unit_num="1" adr_id ="90191"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE3_LINE_ST02" node_num="33" >
        <EQPT id="B7_OHBLINE3_ST02" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line3.asek21.mirle.com.tw:3280" process_data_format="AGV01">
          <PortStation id="B7_OHBLINE3_ST02" unit_num="1" adr_id ="90279"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A04" unit_num="1" adr_id ="90279"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A05" unit_num="1" adr_id ="90279"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE3_LINE_ST03" node_num="34" >
        <EQPT id="B7_OHBLINE3_ST03" eqptType="1" communicationType="1" tcpipAgentName="http://ohbc.line3.asek21.mirle.com.tw:3280" process_data_format="AGV07">
          <PortStation id="B7_OHBLINE3_ST03" unit_num="1" adr_id ="90228"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A06" unit_num="1" adr_id ="90229"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A07" unit_num="1" adr_id ="90228"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B7_OHBLINE3_A08" unit_num="1" adr_id ="90228"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE3_EQ1" node_num="35" >
        <EQPT id="LINE3_B5A_6370_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6370_01_P01" unit_num="1" adr_id ="10147"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_01_P02" unit_num="1" adr_id ="10148"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_01_P03" unit_num="1" adr_id ="10149"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_B5A_6370_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6370_02_P01" unit_num="1" adr_id ="10143"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_02_P02" unit_num="1" adr_id ="10144"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_02_P03" unit_num="1" adr_id ="10145"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_B5A_6370_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6370_03_P01" unit_num="1" adr_id ="10140"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_03_P02" unit_num="1" adr_id ="10141"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_03_P03" unit_num="1" adr_id ="10142"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_B5A_6370_04" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6370_04_P01" unit_num="1" adr_id ="10137"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_04_P02" unit_num="1" adr_id ="10138"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6370_04_P03" unit_num="1" adr_id ="10139"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_93_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_93_01_P01" unit_num="1" adr_id ="10151"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6416_01" eqptType="3" communicationType="1" >
          <PortStation id="B5_6416_01_P01" unit_num="1" adr_id ="10152"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6416_02" eqptType="3" communicationType="1" >
          <PortStation id="B5_6416_02_P01" unit_num="1" adr_id ="10154"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5_6416_02_P02" unit_num="1" adr_id ="10154"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_03_P01" unit_num="1" adr_id ="10186"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_03_P02" unit_num="1" adr_id ="10187"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_03_P03" unit_num="1" adr_id ="10188"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_02_P02" unit_num="1" adr_id ="10182"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_02_P03" unit_num="1" adr_id ="10183"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_02_P04" unit_num="1" adr_id ="10184"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_01_P01" unit_num="1" adr_id ="10175"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_01_P02" unit_num="1" adr_id ="10176"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_01_P03" unit_num="1" adr_id ="10177"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6850_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6580_01_P01" unit_num="1" adr_id ="10172"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6580_01_P02" unit_num="1" adr_id ="10173"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6850_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6580_03_P01" unit_num="1" adr_id ="10169"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6580_03_P02" unit_num="1" adr_id ="10170"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6850_04" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6580_04_P01" unit_num="1" adr_id ="10167"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6580_04_P02" unit_num="1" adr_id ="10168"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_91_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_91_01_P01" unit_num="1" adr_id ="10165"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_91_01_P02" unit_num="1" adr_id ="10166"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_92_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_92_01_P01" unit_num="1" adr_id ="90194"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_92_01_P02" unit_num="1" adr_id ="90195"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6450_92_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6450_92_02_P01" unit_num="1" adr_id ="90198"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6450_92_02_P02" unit_num="1" adr_id ="90199"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6815_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6815_03_P01" unit_num="1" adr_id ="10238"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6815_03_P02" unit_num="1" adr_id ="10237"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6815_03_P03" unit_num="1" adr_id ="10236"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6815_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6815_02_P01" unit_num="1" adr_id ="10235"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6815_02_P02" unit_num="1" adr_id ="10234"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6815_02_P03" unit_num="1" adr_id ="10233"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6815_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6815_01_P01" unit_num="1" adr_id ="10227"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6815_01_P02" unit_num="1" adr_id ="10226"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6815_01_P03" unit_num="1" adr_id ="10225"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6570_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6570_03_P01" unit_num="1" adr_id ="10203"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6570_03_P02" unit_num="1" adr_id ="10204"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6570_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6570_02_P01" unit_num="1" adr_id ="10205"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6570_02_P02" unit_num="1" adr_id ="10206"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6570_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6570_01_P01" unit_num="1" adr_id ="10207"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6570_01_P02" unit_num="1" adr_id ="10208"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6841_03" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6841_03_P01" unit_num="1" adr_id ="10212"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6841_03_P02" unit_num="1" adr_id ="10211"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6841_02" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6841_02_P01" unit_num="1" adr_id ="10214"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6841_02_P02" unit_num="1" adr_id ="10213"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6841_01" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6841_01_P01" unit_num="1" adr_id ="10218"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6841_01_P02" unit_num="1" adr_id ="10217"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="LINE3_6841_04" eqptType="3" communicationType="1" >
          <PortStation id="B5A_6841_04_P01" unit_num="1" adr_id ="10220"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="B5A_6841_04_P02" unit_num="1" adr_id ="10219"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>