<?xml version="1.0" encoding="utf-8" ?>
<SECSConnectionSetting>
  <!-- ConnectMode: 0 = Passive, 1 = Active -->
  <!-- ProcessReceiveOrder: 0 = Normal, 1 = Queue, Default is [0]-->

  <!--<Connection Name="MES_TO_MP" DeviceID="2" LocalIP="127.0.0.1" LocalPort="7001" RemoteIP="127.0.0.1" RemotePort="7002"
              T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
              ConnectMode="0" LinkTestTimer="5"
              TXLogPath="D:\NLog\SECSLog\MES\"
              ProcessReceiveOrder="1">
  </Connection>-->
  <Connection Name="MES_TO_MP" DeviceID="2" LocalIP="172.22.38.204" LocalPort="5002" RemoteIP="172.22.38.204" RemotePort="5002"
              T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
              ConnectMode="0" LinkTestTimer="5"
              TXLogPath="D:\NLog\SECSLog\MES\"
              ProcessReceiveOrder="1">
  </Connection>
  
</SECSConnectionSetting>