<?xml version="1.0" encoding="utf-8" ?>
<!-- RecvTimeout:等待sendRecv Reply的Time out時間(milliseconds) -->
<!-- RetryCount: SendRecv Time out後要再重複發送的次數-->
<!-- ConnectionMode: 0=Server Mode、1=Clinet Mode-->
<!-- FrameBuilderType: 0=PC Type (Mirle)、1=PLC Type (Mirle)-->
<!-- MaxReconnectionCount: 斷線後最多嘗試幾次重新恢復連線 (若設定為0則不進行自動重新連線) (Client Mode適用)-->
<!-- ReconnectInterval: 斷線多久之後再進行一次嘗試恢復連線的動作 (Client Mode適用)-->
<TcpIpConnectionSetting>
  <Common RecvTimeout="20000" SendTimeout="-1" MaxReadSize="1024" ReconnectInterval="5000" RetryCount="0"/>
  <Connection Name="OHxC_TO_OHx01" LocalIP="0.0.0.0" LocalPort="10001" RemoteIP="0.0.0.0" RemotePort="5001" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx02" LocalIP="0.0.0.0" LocalPort="10002" RemoteIP="0.0.0.0" RemotePort="5002" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx03" LocalIP="0.0.0.0" LocalPort="10003" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx04" LocalIP="0.0.0.0" LocalPort="10004" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx05" LocalIP="0.0.0.0" LocalPort="10005" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx06" LocalIP="0.0.0.0" LocalPort="10006" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx07" LocalIP="0.0.0.0" LocalPort="10007" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx08" LocalIP="0.0.0.0" LocalPort="10008" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="OHxC_TO_OHx09" LocalIP="0.0.0.0" LocalPort="10009" RemoteIP="0.0.0.0" RemotePort="5003" ConnectionMode="0" FrameBuilderType="0"/>
</TcpIpConnectionSetting>
