<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->

  <!--________________________Charger______________________-->
  <AddressBase baseName="AGVC_TO_CHARGER_INDEX_AREA" device="W" baseAddress="00000"/>
  <!--<AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" device="W" baseAddress="00005"/>-->
  <AddressBase baseName="AGVC_TIME_SYNC_COMMAND" device="W" baseAddress="00005"/>
  <AddressBase baseName="AGVC_TO_MCHARGER_INDEX_AREA" device="W" baseAddress="0000A"/>
  <AddressBase baseName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE" device="W" baseAddress="0000F"/>

  <AddressBase baseName="AGVC_TO_CHARGER1_INDEX_AREA" device="W" baseAddress="00014"/>
  <AddressBase baseName="AGVC_TO_CHARGER1_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0001A"/>
  <AddressBase baseName="AGVC_TO_CHARGER2_INDEX_AREA" device="W" baseAddress="00028"/>
  <AddressBase baseName="AGVC_TO_CHARGER2_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0002E"/>
  <AddressBase baseName="AGVC_TO_CHARGER3_INDEX_AREA" device="W" baseAddress="0003C"/>
  <AddressBase baseName="AGVC_TO_CHARGER3_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00042"/>
  <AddressBase baseName="AGVC_TO_CHARGER4_INDEX_AREA" device="W" baseAddress="00050"/>
  <AddressBase baseName="AGVC_TO_CHARGER4_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00056"/>


  <AddressBase baseName="MCHARGER_TO_AGVC_INDEX_AREA" device="W" baseAddress="00064"/>
  <AddressBase baseName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT" device="W" baseAddress="000A0"/>

  <AddressBase baseName="CHARGER1_TO_AGVC_INDEX_AREA" device="W" baseAddress="00067"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="000D2"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_STATUS_REPORT" device="W" baseAddress="000E3"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="000ED"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="000FA"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00109"/>

  <AddressBase baseName="CHARGER2_TO_AGVC_INDEX_AREA" device="W" baseAddress="00071"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="00186"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00197"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="001A1"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="001AE"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="001BD"/>

  <AddressBase baseName="CHARGER3_TO_AGVC_INDEX_AREA" device="W" baseAddress="0007B"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="0023A"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_STATUS_REPORT" device="W" baseAddress="0024B"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="00255"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00262"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00271"/>

  <AddressBase baseName="CHARGER4_TO_AGVC_INDEX_AREA" device="W" baseAddress="00085"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="002EE"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_STATUS_REPORT" device="W" baseAddress="002FF"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="00309"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00316"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00325"/>



  <!--________________________PortStation______________________-->
  <AddressBase baseName="PORT_STATION_REPORT" device="0" baseAddress="0000"/>
  
    <!--________________________PortStation_2______________________-->
  <AddressBase baseName="PORT_STATION_2_REPORT" device="0" baseAddress="0000"/>

  <!--________________________FireDoor______________________-->

  <AddressBase baseName="FIRE_DOOR_READ" device="0" baseAddress="0000"/>
  <AddressBase baseName="FIRE_DOOR_WRITE" device="0" baseAddress="0001"/>




</AddressBaseDefs>
