<EQMapToValueEvent>
  <!--<EQObject id="MCharger" cate="Equipment" MPLCName="Charger">
    <ValueEvent baseName="AGVC_TO_CHARGER_INDEX_AREA" relativeName="AGVC_TO_CHARGER_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TIME_SYNC_COMMAND" relativeName="AGVC_TIME_SYNC_COMMAND"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_MCHARGER_INDEX_AREA" relativeName="AGVC_TO_MCHARGER_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE" relativeName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE"></ValueEvent>
    <ValueEvent baseName="MCHARGER_TO_AGVC_INDEX_AREA" relativeName="MCHARGER_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT" relativeName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger1" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER1_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER1_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger2" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER2_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER2_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger3" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER3_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER3_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger4" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER4_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER4_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>>
  <EQObject id="FireDoorInfo1" cate="Equipment" MPLCName="FireDoor">
    <ValueEvent baseName="FIRE_DOOR_READ" relativeName="Fire_door_info_read_offset_0"></ValueEvent>
  </EQObject>
  <EQObject id="FireDoorInfo2" cate="Equipment" MPLCName="FireDoor">
    <ValueEvent baseName="FIRE_DOOR_READ" relativeName="Fire_door_info_read_offset_3"></ValueEvent>
  </EQObject>
  <EQObject id="FireDoor1" cate="Unit" MPLCName="FireDoor">
    <ValueEvent baseName="FIRE_DOOR_READ" relativeName="Fire_door_read_offset_2"></ValueEvent>
    <ValueEvent baseName="FIRE_DOOR_WRITE" relativeName="Fire_door_write_offset_0"></ValueEvent>
  </EQObject>
  <EQObject id="FireDoor2" cate="Unit" MPLCName="FireDoor">
    <ValueEvent baseName="FIRE_DOOR_READ" relativeName="Fire_door_read_offset_5"></ValueEvent>
    <ValueEvent baseName="FIRE_DOOR_WRITE" relativeName="Fire_door_write_offset_1"></ValueEvent>
  </EQObject>

  <EQObject id="EQ1" cate="Equipment" MPLCName="PortStation">
    <ValueEvent baseName="PORT_STATION_REPORT" relativeName="EQ1"></ValueEvent>
  </EQObject>
  <EQObject id="CARUB900:01" cate="Port" MPLCName="PortStation">
    <ValueEvent baseName="PORT_STATION_REPORT" relativeName="Port_offset_2_3"></ValueEvent>
  </EQObject>
  <EQObject id="CARUB900:02" cate="Port" MPLCName="PortStation">
    <ValueEvent baseName="PORT_STATION_REPORT" relativeName="Port_offset_4_5"></ValueEvent>
  </EQObject>
  <EQObject id="CARUB900:03" cate="Port" MPLCName="PortStation">
    <ValueEvent baseName="PORT_STATION_REPORT" relativeName="Port_offset_6_7"></ValueEvent>
  </EQObject>

  <EQObject id="EQ4" cate="Equipment" MPLCName="PortStation_2">
    <ValueEvent baseName="PORT_STATION_2_REPORT" relativeName="EQ1"></ValueEvent>
  </EQObject>
  <EQObject id="AAWTO400:01" cate="Port" MPLCName="PortStation_2">
    <ValueEvent baseName="PORT_STATION_2_REPORT" relativeName="Port_offset_2_3"></ValueEvent>
  </EQObject>
  <EQObject id="AAWTO400:02" cate="Port" MPLCName="PortStation_2">
    <ValueEvent baseName="PORT_STATION_2_REPORT" relativeName="Port_offset_4_5"></ValueEvent>
  </EQObject>
  <EQObject id="AAWTO400:03" cate="Port" MPLCName="PortStation_2">
    <ValueEvent baseName="PORT_STATION_2_REPORT" relativeName="Port_offset_6_7"></ValueEvent>
  </EQObject>-->


</EQMapToValueEvent>