<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="AAAGV600" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="AGV02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="AGV03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE1">
      <Node id="EQ_NODE1" node_num="2" >
        <EQPT id="B7" eqptType="3" communicationType="1" >
          <PortStation id="STA00" unit_num="1" adr_id ="10001"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="STJ00" unit_num="1" adr_id ="10007"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="CHARGE_NODE1" node_num="3" >
        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger3" unit_num="3" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger4" unit_num="4" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>