<?xml version="1.0" encoding="utf-8" ?>
<SECSConnectionSetting>
  <!-- ConnectMode: 0 = Passive, 1 = Active -->
  <!-- ProcessReceiveOrder: 0 = Normal, 1 = Queue, Default is [0]-->
  <!--<Connection Name="MES_TO_MP" DeviceID="0" LocalIP="192.168.1.35" LocalPort="7000" RemoteIP="192.168.1.35" RemotePort="5002"
              T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
              ConnectMode="1" LinkTestTimer="5"
              TXLogPath="D:\NLog\SECSLog\MES\"
              ProcessReceiveOrder="0">
  </Connection>-->

  <Connection Name="MES_TO_MP" DeviceID="0" LocalIP="192.168.70.152" LocalPort="7000" RemoteIP="192.168.70.152" RemotePort="5002"
              T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
              ConnectMode="1" LinkTestTimer="5"
              TXLogPath="D:\NLog\SECSLog\MES\"
              ProcessReceiveOrder="0">
  </Connection>
</SECSConnectionSetting>