<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->

  <!--________________________Charger______________________-->
  <AddressBase baseName="AGVC_TO_CHARGER_INDEX_AREA" device="W" baseAddress="00000"/>
  <!--<AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" device="W" baseAddress="00005"/>-->
  <AddressBase baseName="AGVC_TIME_SYNC_COMMAND" device="W" baseAddress="00005"/>
  <AddressBase baseName="AGVC_TO_MCHARGER_INDEX_AREA" device="W" baseAddress="0000A"/>
  <AddressBase baseName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE" device="W" baseAddress="0000F"/>

  <AddressBase baseName="AGVC_TO_CHARGER1_INDEX_AREA" device="W" baseAddress="00014"/>
  <AddressBase baseName="AGVC_TO_CHARGER1_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0001A"/>
  <AddressBase baseName="AGVC_TO_CHARGER2_INDEX_AREA" device="W" baseAddress="00022"/>
  <AddressBase baseName="AGVC_TO_CHARGER2_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00028"/>
  <AddressBase baseName="AGVC_TO_CHARGER3_INDEX_AREA" device="W" baseAddress="00030"/>
  <AddressBase baseName="AGVC_TO_CHARGER3_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00036"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER4_INDEX_AREA" device="W" baseAddress="0003E"/>
  <AddressBase baseName="AGVC_TO_CHARGER4_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00044"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER5_INDEX_AREA" device="W" baseAddress="0004C"/>
  <AddressBase baseName="AGVC_TO_CHARGER5_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00052"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER6_INDEX_AREA" device="W" baseAddress="0005A"/>
  <AddressBase baseName="AGVC_TO_CHARGER6_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00060"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER7_INDEX_AREA" device="W" baseAddress="00068"/>
  <AddressBase baseName="AGVC_TO_CHARGER7_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0006E"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER8_INDEX_AREA" device="W" baseAddress="00076"/>
  <AddressBase baseName="AGVC_TO_CHARGER8_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0007C"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER9_INDEX_AREA" device="W" baseAddress="00084"/>
  <AddressBase baseName="AGVC_TO_CHARGER9_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0008A"/>
  
  <AddressBase baseName="AGVC_TO_CHARGER10_INDEX_AREA" device="W" baseAddress="00092"/>
  <AddressBase baseName="AGVC_TO_CHARGER10_COUPLER_ENABLE_DISABLE" device="W" baseAddress="00098"/>

  <AddressBase baseName="AGVC_TO_CHARGER11_INDEX_AREA" device="W" baseAddress="0009B"/>
  <AddressBase baseName="AGVC_TO_CHARGER11_COUPLER_ENABLE_DISABLE" device="W" baseAddress="0009D"/>


  <AddressBase baseName="MCHARGER_TO_AGVC_INDEX_AREA" device="W" baseAddress="000A0"/>
  <AddressBase baseName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT" device="W" baseAddress="000118"/>

  <AddressBase baseName="CHARGER1_TO_AGVC_INDEX_AREA" device="W" baseAddress="000A3"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="00150"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00161"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="0016B"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00178"/>
  <AddressBase baseName="CHARGER1_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00187"/>

  <AddressBase baseName="CHARGER2_TO_AGVC_INDEX_AREA" device="W" baseAddress="000AD"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="00204"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00215"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="0021F"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="0022C"/>
  <AddressBase baseName="CHARGER2_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="0023B"/>

  <AddressBase baseName="CHARGER3_TO_AGVC_INDEX_AREA" device="W" baseAddress="000B7"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="002B8"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_STATUS_REPORT" device="W" baseAddress="002C9"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="002D3"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="002E0"/>
  <AddressBase baseName="CHARGER3_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="002EF"/>

  <AddressBase baseName="CHARGER4_TO_AGVC_INDEX_AREA" device="W" baseAddress="000C1"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="0036C"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_STATUS_REPORT" device="W" baseAddress="0037D"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="00387"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00394"/>
  <AddressBase baseName="CHARGER4_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="003A3"/>

  <AddressBase baseName="CHARGER5_TO_AGVC_INDEX_AREA" device="W" baseAddress="000CB"/>
  <AddressBase baseName="CHARGER5_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="00420"/>
  <AddressBase baseName="CHARGER5_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00431"/>
  <AddressBase baseName="CHARGER5_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="0043B"/>
  <AddressBase baseName="CHARGER5_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00448"/>
  <AddressBase baseName="CHARGER5_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00457"/>

  <AddressBase baseName="CHARGER6_TO_AGVC_INDEX_AREA" device="W" baseAddress="000D5"/>
  <AddressBase baseName="CHARGER6_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="004D4"/>
  <AddressBase baseName="CHARGER6_TO_AGVC_STATUS_REPORT" device="W" baseAddress="004E5"/>
  <AddressBase baseName="CHARGER6_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="004EF"/>
  <AddressBase baseName="CHARGER6_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="004FC"/>
  <AddressBase baseName="CHARGER6_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="0050B"/>

  <AddressBase baseName="CHARGER7_TO_AGVC_INDEX_AREA" device="W" baseAddress="000DF"/>
  <AddressBase baseName="CHARGER7_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="00588"/>
  <AddressBase baseName="CHARGER7_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00599"/>
  <AddressBase baseName="CHARGER7_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="005A3"/>
  <AddressBase baseName="CHARGER7_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="005B0"/>
  <AddressBase baseName="CHARGER7_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="005BF"/>

  <AddressBase baseName="CHARGER8_TO_AGVC_INDEX_AREA" device="W" baseAddress="000E9"/>
  <AddressBase baseName="CHARGER8_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="0063C"/>
  <AddressBase baseName="CHARGER8_TO_AGVC_STATUS_REPORT" device="W" baseAddress="0064D"/>
  <AddressBase baseName="CHARGER8_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="00657"/>
  <AddressBase baseName="CHARGER8_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00664"/>
  <AddressBase baseName="CHARGER8_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00673"/>

  <AddressBase baseName="CHARGER9_TO_AGVC_INDEX_AREA" device="W" baseAddress="000F3"/>
  <AddressBase baseName="CHARGER9_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="006F0"/>
  <AddressBase baseName="CHARGER9_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00701"/>
  <AddressBase baseName="CHARGER9_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="0070B"/>
  <AddressBase baseName="CHARGER9_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00718"/>
  <AddressBase baseName="CHARGER9_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="00727"/>

  <AddressBase baseName="CHARGER10_TO_AGVC_INDEX_AREA" device="W" baseAddress="000FD"/>
  <AddressBase baseName="CHARGER10_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="007A4"/>
  <AddressBase baseName="CHARGER10_TO_AGVC_STATUS_REPORT" device="W" baseAddress="007B5"/>
  <AddressBase baseName="CHARGER10_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="007BF"/>
  <AddressBase baseName="CHARGER10_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="007CC"/>
  <AddressBase baseName="CHARGER10_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="007DB"/>

  <AddressBase baseName="CHARGER11_TO_AGVC_INDEX_AREA" device="W" baseAddress="00107"/>
  <AddressBase baseName="CHARGER11_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" device="W" baseAddress="00858"/>
  <AddressBase baseName="CHARGER11_TO_AGVC_STATUS_REPORT" device="W" baseAddress="00869"/>
  <AddressBase baseName="CHARGER11_TO_AGVC_CURRENT_CONSTANT_REPORT" device="W" baseAddress="00873"/>
  <AddressBase baseName="CHARGER11_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" device="W" baseAddress="00880"/>
  <AddressBase baseName="CHARGER11_TO_AGVC_PIO_HANDSHAKE_REPORT" device="W" baseAddress="0088F"/>



  <!--________________________PortStation______________________-->
  <AddressBase baseName="PORT_STATION_REPORT" device="0" baseAddress="0000"/>

  <!--________________________PortStation_2______________________-->
  <AddressBase baseName="PORT_STATION_2_REPORT" device="0" baseAddress="0000"/>

  <!--________________________FireDoor______________________-->

  <AddressBase baseName="FIRE_DOOR_READ" device="0" baseAddress="0000"/>
  <AddressBase baseName="FIRE_DOOR_WRITE" device="0" baseAddress="0001"/>




</AddressBaseDefs>
