<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="AAAGV600" >
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="AGV02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="AGV03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
        <Vehicle id="AGV04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx04"/>
        <Vehicle id="AGV05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx05"/>
        <Vehicle id="AGV06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx06"/>
        <Vehicle id="AGV07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx07"/>
        <Vehicle id="AGV08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx08"/>
        <Vehicle id="AGV09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx09"/>
        <Vehicle id="AGV10" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx10"/>
      </Node>
      <Node id="CHARGE_NODE" node_num="2" >
        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger3" unit_num="3" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger4" unit_num="4" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger5" unit_num="5" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger6" unit_num="6" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger7" unit_num="7" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger8" unit_num="8" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger9" unit_num="9" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger10" unit_num="10" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger11" unit_num="11" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
    <Zone id="EQ_ZONE1">
      <Node id="ZONE_STK" node_num="11" >
        <EQPT id="STK01" eqptType="3" communicationType="1" >
          <PortStation id="IP01" unit_num="1" adr_id ="10101"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP02" unit_num="1" adr_id ="10101"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP03" unit_num="1" adr_id ="10101"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP04" unit_num="1" adr_id ="10101"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="STK02" eqptType="3" communicationType="1" >
          <PortStation id="IP07" unit_num="1" adr_id ="10094"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP08" unit_num="1" adr_id ="10094"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP09" unit_num="1" adr_id ="10094"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP10" unit_num="1" adr_id ="10094"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="STK03" eqptType="3" communicationType="1" >
          <PortStation id="IP13" unit_num="1" adr_id ="10087"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP14" unit_num="1" adr_id ="10087"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP15" unit_num="1" adr_id ="10087"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="IP16" unit_num="1" adr_id ="10087"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE_PAK" node_num="12" >
        <EQPT id="PAK01" eqptType="3" communicationType="1" >
          <PortStation id="PAK01_P01" unit_num="1" adr_id ="10126"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="PAK02" eqptType="3" communicationType="1" >
          <PortStation id="PAK02_P01" unit_num="1" adr_id ="10114"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="ZONE_AOI" node_num="13" >
        <EQPT id="AOI01" eqptType="3" communicationType="1" >
          <PortStation id="AOI01_P01" unit_num="1" adr_id ="10054"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="AOI02" eqptType="3" communicationType="1" >
          <PortStation id="AOI02_P01" unit_num="1" adr_id ="10049"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="AOI03" eqptType="3" communicationType="1" >
          <PortStation id="AOI03_P01" unit_num="1" adr_id ="10044"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <!--2022/10/26新增的機台點位Start-->
        <EQPT id="AOI04" eqptType="3" communicationType="1" >
          <PortStation id="AOI04_P01" unit_num="1" adr_id ="10039"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="AOI05" eqptType="3" communicationType="1" >
          <PortStation id="AOI05_P01" unit_num="1" adr_id ="10004"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="AOI06" eqptType="3" communicationType="1" >
          <PortStation id="AOI06_P01" unit_num="1" adr_id ="10009"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="AOI07" eqptType="3" communicationType="1" >
          <PortStation id="AOI07_P01" unit_num="1" adr_id ="10014"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="AOI08" eqptType="3" communicationType="1" >
          <PortStation id="AOI08_P01" unit_num="1" adr_id ="10019"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <!--2022/10/26新增的機台點位End-->
      </Node>
      <Node id="TRACK_NODE" node_num="7">
        <EQPT id="B6_OHB01_TRACK" eqptType="16" communicationType="1">
          <Unit id="R1_1" unit_cate="" eqpt_type="" unit_num="1" />
          <Unit id="R1_2" unit_cate="" eqpt_type="" unit_num="2" />
          <Unit id="R1_3" unit_cate="" eqpt_type="" unit_num="3" />
          <Unit id="R1_4" unit_cate="" eqpt_type="" unit_num="4" />
          <Unit id="R1_5" unit_cate="" eqpt_type="" unit_num="5" />
          <Unit id="R1_6" unit_cate="" eqpt_type="" unit_num="6" />
          <Unit id="R1_7" unit_cate="" eqpt_type="" unit_num="7" />
          <Unit id="R1_8" unit_cate="" eqpt_type="" unit_num="8" />
          <Unit id="R2_1" unit_cate="" eqpt_type="" unit_num="9" />
          <Unit id="R2_2" unit_cate="" eqpt_type="" unit_num="10" />
          <Unit id="R2_3" unit_cate="" eqpt_type="" unit_num="11" />
          <Unit id="R2_4" unit_cate="" eqpt_type="" unit_num="12" />
          <Unit id="R2_5" unit_cate="" eqpt_type="" unit_num="13" />
          <Unit id="R2_6" unit_cate="" eqpt_type="" unit_num="14" />
          <Unit id="R2_7" unit_cate="" eqpt_type="" unit_num="15" />
          <Unit id="R2_8" unit_cate="" eqpt_type="" unit_num="16" />
          <Unit id="R3_1" unit_cate="" eqpt_type="" unit_num="17" />
          <Unit id="R3_2" unit_cate="" eqpt_type="" unit_num="18" />
          <Unit id="R3_4" unit_cate="" eqpt_type="" unit_num="19" />
          <Unit id="R3_5" unit_cate="" eqpt_type="" unit_num="20" />
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>