<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle-->
<MPLCConnectionSetting>


  <!--<Connection Name="Charger" Type="1" LogicalStationNumber="1" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
               AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="100000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="00000" EndBlock="01000"></ReadRange>
    </Device>
  </Connection>-->

  <!-- <Connection Name="FireDoor" Type="3" IP="192.168.9.150" Port="502" ReadIntervalMilliSec="400" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

   <Connection Name="PortStation" Type="3" IP="172.168.9.158" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="PortStation_2" Type="3" IP="172.168.9.153" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
               AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>-->

</MPLCConnectionSetting>