<?xml version="1.0" encoding="utf-8" ?>
<SECSConnectionSetting>
  <!-- ConnectMode: 0 = Passive, 1 = Active -->
  <!-- ProcessReceiveOrder: 0 = Normal, 1 = Queue, Default is [0]-->

 
 <!-- <Connection Name="MES_TO_MP" DeviceID="2" LocalIP="172.21.83.39" LocalPort="6005" RemoteIP="172.21.83.38" RemotePort="6001"
              T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
              ConnectMode="0" LinkTestTimer="5"
              TXLogPath="D:\NLog\SECSLog\MES\"
              ProcessReceiveOrder="1">
  </Connection>
-->
</SECSConnectionSetting>