<ValueDefs>
  <!-- rangeType:'W', 'B', or 'D'。B Type只接受length為1 -->
  <!-- targetType: "String", "Boolean", "UInt16", "UInt16[]", "UInt32", "UInt32[]", "Boolean[]" or Single -->
  <!-- actionType: "W" or "R". W=Write, R=Read -->
  <!-- baseName: 即AddressBase定義的名稱 -->
  <!-- offset: 相對於AddressBase的偏移值 -->
  <!-- length: 長度 -->
  <!-- startBit & endBit: 0~15，如果有定義此項目，則不允許跨device的情況出現，也就是length必定是1 -->
  <!-- splitLength: 指定分割長度。用於切割讀取或寫入的值。 -->



  <!--**************************************************************************************************************************-->
  <!--************************************************************Write_Word****************************************************-->
  <!--**************************************************************************************************************************-->




  <!--==========================OHXC_TO_CHARGE============================-->
  <!--__________Index Area___________-->
  <ValueDef name="AGVC_TO_CHARGER_ALIVE_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="W" />


  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_INDEX" scenarioName="Index Area" desc="Index Area"
            rangeType="W" targetType="UInt16" actionType="W" />

  <!--__________Date Time Sync Command___________-->
  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_YEAR" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_MONTH" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_DAY" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_HOUR" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_MINUTE" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_DATE_TIME_SYNC_COMMAND_SECOND" scenarioName="Date Time Sync Command" desc="Date Time Sync Command"
        rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________AGVC_TO_MCHARGER_INDEX_AREA___________-->
  <ValueDef name="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE_INDEX" scenarioName="Car Out-Car Realtime Information" desc="Car ID"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_MCHARGER_ALL_CHARGER_CHARGING_FINISH_INDEX" scenarioName="Car Out-Car Realtime Information" desc="ACTION MODE"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_MCHARGER_ALARM_RESET_INDEX" scenarioName="Car Out-Car Realtime Information" desc="Cst Exist"
            rangeType="W" targetType="UInt16" actionType="W" />
  <!--__________AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE___________-->
  <ValueDef name="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE_DISABLE" scenarioName="MTL Car Out Reply" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />

  <ValueDef name="AGVC_TO_CHARGER_COUPLER_ENABLE_DISABLE_INDEX" scenarioName="MTL Car Out Reply" desc="Return Code"
          rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_CHARGER_CHARGING_FINISH_INDEX" scenarioName="MTL Car Out Reply" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_COUPLER_ID" scenarioName="MTL Car Out Reply" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />
  <ValueDef name="AGVC_TO_CHARGER_COUPLER_ENABLE_DISABLE" scenarioName="MTL Car Out Reply" desc="Return Code"
            rangeType="W" targetType="UInt16" actionType="W" />




  <!--__________MCHARGER_TO_AGVC_INDEX_AREA___________-->
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT_INDEX" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________CHARGERX_TO_AGVC_INDEX_AREA___________-->
  <ValueDef name="CHARGERX_TO_AGVC_ALIVE_INDEX" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_INDEX" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT_INDEX" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_INDEX" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_INDEX" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />



  <!--__________MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT___________-->
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE16" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE17" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE18" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE19" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_ERRORCODE20" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT___________-->
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_INPUT_VOLTAGE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_CHARGING_VOLTAGE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_CHARGING_CURRENT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_CHARGING_POWER" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_COUPLER_CHARGING_VOLTAGE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_COUPLER_CHARGING_CURRENT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_COUPLER_ID" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT_BLOCK" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />

  <!--__________CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT___________-->
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_RESERVE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_CONSTANT_VOLTAGE_OUTPUT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_CONSTANT_CURRENT_OUTPUT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_HIGH_INPUT_VOLTAGE_PROTECTION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_LOW_INPUT_VOLTAGE_PROTECTION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_HIGH_OUTPUT_VOLTAGE_PROTECTION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_HIGH_OUTPUT_CURRENT_PROTECTION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_CHARGER_STATUS_OVERHEAT_PROTECTION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Boolean" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_RS485_STATUS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_COUPLER1_STATUS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_COUPLER2_STATUS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_COUPLER3_STATUS" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_COUPLER1_POSITION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_COUPLER2_POSITION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT_COUPLER3_POSITION" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />


  <!--__________CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT___________-->
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT_OUTPUT_VOLTAGE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT_OUTPUT_CURRENT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT_OVERVOLTAGE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT_OVERCURRENT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />

  <!--__________CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT___________-->
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_COUPLER_ID" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_START_TIME_YEAR" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_START_TIME_MONTH" scenarioName="Handshake Area" desc="Handshake Area"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_START_TIME_DAY" scenarioName="Handshake Area" desc="Handshake Area"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_START_TIME_HOUR" scenarioName="Handshake Area" desc="Handshake Area"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_START_TIME_MINUTE" scenarioName="Handshake Area" desc="Handshake Area"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_START_TIME_SECOND" scenarioName="Handshake Area" desc="Handshake Area"
          rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_END_TIME_YEAR" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_END_TIME_MONTH" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_END_TIME_DAY" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_END_TIME_HOUR" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_END_TIME_MINUTE" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_END_TIME_SECOND" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_INPUT_AH" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="Single" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT_CHARGING_RESULT" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />



  <!--__________CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT___________-->
  <!--_1_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_1" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_1" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_20"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_1" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_20"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_2_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_2" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_2" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_20"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_2" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_20"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_3_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_3" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_3" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_30"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_3" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_30"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_4_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_4" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_4" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_40"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_4" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_40"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_5_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_5" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_5" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_50"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_5" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_50"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_6_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_6" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_6" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_60"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_6" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_60"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_7_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_7" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_7" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_70"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_7" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_70"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_8_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_8" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_8" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_80"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_8" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_80"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_9_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_9" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_9" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_90"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_9" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_90"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_10_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_10" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_10" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_100"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_10" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_100"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_11_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_11" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_11" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_110"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_11" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_110"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_12_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_12" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_12" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_120"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_12" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_120"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_13_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_13" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_13" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_130"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_13" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_130"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_14_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_14" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_14" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_140"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_14" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_140"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <!--_15_-->
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_COUPLER_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_YEAR_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MONTH_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_DAY_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_HOUR_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MINUTE_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SECOND_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_MILLISECOND_15" scenarioName="Handshake Area" desc="Handshake Area"
            rangeType="W" targetType="UInt16" actionType="R" />
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL1_15" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_150"
            rangeType="W" targetType="Boolean[]" actionType="R"/>
  <ValueDef name="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT_SIGNAL2_15" scenarioName="IF_VEHICLE_INTERFACE" desc="INTERFAECSIGNAL_150"
            rangeType="W" targetType="Boolean[]" actionType="R"/>




  <!--==========================PORT_STATION============================-->
  <ValueDef name="EQ_READY" scenarioName="EQ_READY" desc="EQ_READY" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="EQ_ERROR" scenarioName="EQ_ERROR" desc="EQ_ERROR" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="REQUEST" scenarioName="REQUEST" desc="REQUEST" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="READY" scenarioName="READY" desc="READY" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>


  <!--==========================FIRE_DOOR============================-->
  <ValueDef name="FIRE_REPORT" scenarioName="FIRE_REPORT" desc="FIRE_REPORT" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="TEST_FIRE_REPORT" scenarioName="TEST_FIRE_REPORT" desc="TEST_FIRE_REPORT" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="FIRE_DOOR_OPEN" scenarioName="FIRE_DOOR_OPEN" desc="FIRE_DOOR_OPEN" rangeType="0" targetType="Boolean" actionType="R">
  </ValueDef>
  <ValueDef name="FIRE_DOOR_CROSS_SIGNAL" scenarioName="FIRE_DOOR_CROSS_SIGNAL" desc="FIRE_DOOR_CROSS_SIGNAL"
            rangeType="0" targetType="Boolean" actionType="W" />
</ValueDefs>


