<EQMapToValueEvent>
  <!--<EQObject id="MCharger" cate="Equipment" MPLCName="Charger">
    <ValueEvent baseName="AGVC_TO_CHARGER_INDEX_AREA" relativeName="AGVC_TO_CHARGER_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TIME_SYNC_COMMAND" relativeName="AGVC_TIME_SYNC_COMMAND"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_MCHARGER_INDEX_AREA" relativeName="AGVC_TO_MCHARGER_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE" relativeName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE"></ValueEvent>
    <ValueEvent baseName="MCHARGER_TO_AGVC_INDEX_AREA" relativeName="MCHARGER_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT" relativeName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger1" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER1_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER1_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger2" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER2_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER2_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER2_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger3" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER3_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER3_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER3_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger4" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER4_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER4_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER4_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger5" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER5_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER5_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER5_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER5_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER5_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER5_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER5_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER5_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger6" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER6_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER6_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER6_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER6_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER6_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER6_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER6_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER6_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger7" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER7_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER7_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER7_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER7_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER7_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER7_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER7_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER7_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger8" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER8_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER8_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER8_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER8_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER8_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER8_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER8_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER8_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger9" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER9_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER9_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER9_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER9_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER9_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER9_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER9_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER9_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger10" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER10_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER10_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER10_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER10_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER10_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER10_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER10_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER10_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger11" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER11_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER11_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER11_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER11_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER11_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER11_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER11_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER11_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>-->

</EQMapToValueEvent>